footer {
  color: #0f0f0f; }

nav {
  width: 100%;
  background-color: #df1a1a; }
  nav .logofooter {
    width: 50px; }

.containerform {
  max-width: 1100px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 50px; }
  .containerform h2 {
    margin-bottom: 15px;
    font-size: 35px;
    color: whit; }
  .containerform p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px; }
  .containerform a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #f8f7f7;
    font-weight: 700px; }
  .containerform form .campo, .containerform textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid;
    margin-bottom: 20 px;
    border-radius: 3px;
    outline: 0px;
    background-color: transparent; }
  .containerform form textarea {
    max-width: 400px;
    min-width: 430px;
    min-height: 140px;
    max-height: 150px;
    background-color: transparent; }
  .containerform form .btn {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: crimson;
    color: white;
    border-radius: 3px;
    transition: all;
    cursor: pointer 300ms ease; }
  .containerform .rellenar {
    margin: auto;
    margin-top: 100px;
    position: relative;
    align-content: center; }

.card-title {
  color: black; }

.nivel1 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.nivel2 {
  color: red;
  font-family: 'Lobster', cursive; }

.nivel3 {
  color: red;
  font-family: 'Lobster', cursive; }

.nivel4 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.nivel5 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.nivel6 {
  color: red;
  font-family: 'Lobster', cursive; }

.nivel7 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.nivel8 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.nivel9 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.main1 {
  grid-area: main1;
  height: 100vh;
  width: 600px;
  padding: 30px;
  list-style: none;
  margin-top: 100px;
  margin: 25px;
  font-size: 25px;
  display: grid;
  background-color: rgba(43, 42, 42, 0.562);
  border-radius: 50px;
  position: relative; }
  .main1 .logofooter {
    width: 50px;
    grid-area: logofooter; }
  .main1 .h1inicio {
    font-family: 'Lobster', cursive; }

.nosotros1 {
  padding: 71px; }
  .nosotros1 .logocontacto {
    width: 500px; }

.container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-gap: 50px;
  margin-top: 50px;
  color: white; }
  .container .btn {
    height: 100px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: crimson;
    color: white;
    border-radius: 40px;
    transition: all;
    cursor: pointer 300ms ease; }
  .container textarea {
    background-color: transparent; }

.container {
  height: 100%; }
  .container .venta1 {
    margin: 20px;
    color: black; }
  .container .venta2 {
    margin: 20px;
    color: black; }
  .container .venta1:hover {
    box-shadow: 5px 5px 20px rgba(245, 11, 11, 0.4);
    transform: translate(-3%); }
  .container .venta2:hover {
    box-shadow: 5px 5px 20px rgba(238, 3, 3, 0.4);
    transform: translate(-3%); }
  .container .card-text {
    color: black; }
  .container .card-title {
    text-align: center;
    color: #01f870;
    font-family: Arial, Helvetica, sans-serif; }
  .container .mediasend {
    background-color: #ee0303;
    text-decoration: none;
    color: white;
    text-align: center; }

@media screen and (max-width: 580px) {
  .nosotros1 {
    display: grid;
    grid-template-areas: "texto, texto" "isra, isra";
    height: 80vh; }
    .nosotros1 h2 {
      grid-area: texto;
      font-size: 50px;
      margin: 15px; }
    .nosotros1 .logocontacto {
      width: 225px;
      grid-area: isra; } }

* {
  box-sizing: border-box;
  color: aliceblue;
  margin: 0; }
  * body {
    position: relative;
    height: 100%;
    background: url("../assets/img/14377-rojo-y-negro.jpg"); }
