footer {
  box-shadow: 7px 7px 13px 37px #f50808;
  border-top: 4px #B11313 solid; }

nav {
  width: 100%;
  background-color: #df1a1a; }
  nav .logofooter {
    width: 50px; }

.containerform {
  max-width: 1100px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 50px; }
  .containerform h2 {
    margin-bottom: 15px;
    font-size: 35px;
    color: whit; }
  .containerform p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px; }
  .containerform a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #f8f7f7;
    font-weight: 700px; }
  .containerform form .campo, .containerform textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid;
    margin-bottom: 20 px;
    border-radius: 3px;
    outline: 0px;
    background-color: transparent; }
  .containerform form textarea {
    max-width: 400px;
    min-width: 430px;
    min-height: 140px;
    max-height: 150px;
    background-color: transparent; }
  .containerform form .btn {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: crimson;
    color: white;
    border-radius: 3px;
    transition: all;
    cursor: pointer 300ms ease; }
  .containerform .rellenar {
    margin: auto;
    margin-top: 100px;
    position: relative;
    align-content: center; }

.card-title {
  color: black; }

.nivel1 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.nivel2 {
  color: red;
  font-family: 'Lobster', cursive; }

.nivel3 {
  color: red;
  font-family: 'Lobster', cursive; }

.nivel4 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.nivel5 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.nivel6 {
  color: red;
  font-family: 'Lobster', cursive; }

.nivel7 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.nivel8 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.nivel9 {
  color: #01f870;
  font-family: 'Lobster', cursive; }

.inicio {
  width: 100%;
  height: 500px; }
  .inicio .logote {
    height: 440px;
    width: 400px;
    background: #353535;
    margin: auto;
    box-shadow: 7px 13px 37px #f50808;
    padding: 20px 30px;
    border-top: 4px #B11313 solid; }
    .inicio .logote .logote h1 {
      margin: 0;
      text-align: center;
      height: 50px;
      margin-bottom: 30px;
      border-bottom: 1px solid #B11313;
      font-size: 20px; }
    .inicio .logote .control {
      width: 100%;
      border: transparent;
      margin-bottom: 15px;
      padding: 11px 10px;
      background: #555;
      font-size: 14px; }
    .inicio .logote .direccion {
      font-size: 10px;
      color: #a5a2a2;
      margin: 2px;
      display: inline; }
    .inicio .logote .control2 {
      width: 100%;
      height: 40px;
      background: #B11313;
      border: none;
      color: white;
      margin-bottom: 16px; }

.nosotros1 {
  padding: 71px; }
  .nosotros1 .logocontacto {
    width: 500px; }

.container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-gap: 50px;
  margin-top: 50px;
  color: white; }
  .container .btn {
    height: 100px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: crimson;
    color: white;
    border-radius: 40px;
    transition: all;
    cursor: pointer 300ms ease; }
  .container textarea {
    background-color: transparent; }

.container {
  height: 100%; }
  .container .venta1 {
    margin: 20px;
    color: black; }
  .container .venta2 {
    margin: 20px;
    color: black; }
  .container .venta1:hover {
    box-shadow: 5px 5px 20px rgba(245, 11, 11, 0.4);
    transform: translate(-3%); }
  .container .venta2:hover {
    box-shadow: 5px 5px 20px rgba(238, 3, 3, 0.4);
    transform: translate(-3%); }
  .container .card-text {
    color: black; }
  .container .card-title {
    text-align: center;
    color: #01f870;
    font-family: Arial, Helvetica, sans-serif; }
  .container .mediasend {
    background-color: #ee0303;
    text-decoration: none;
    color: white;
    text-align: center; }

@media screen and (max-width: 580px) {
  .inicio {
    width: 100%; }
    .inicio .logote {
      height: 440px;
      width: 300px;
      background: #353535;
      margin: auto;
      box-shadow: 7px 13px 37px #2c08f5;
      padding: 20px 30px;
      border-top: 4px #2b13b1 solid; }
    .inicio .nosotros1 {
      display: grid;
      grid-template-areas: "texto, texto" "isra, isra";
      height: 80vh; }
      .inicio .nosotros1 h2 {
        grid-area: texto;
        font-size: 50px;
        margin: 15px; }
      .inicio .nosotros1 .logocontacto {
        width: 225px;
        grid-area: isra; } }

* {
  box-sizing: border-box;
  color: aliceblue;
  margin: 0; }
  * body {
    position: relative;
    height: 100%;
    background: url("../assets/img/14377-rojo-y-negro.jpg"); }
