footer{
    
    left: 0;
    width: 100vmax;
    height: 150px;
    position: absolute;
    flex-direction: column;
    background-color: rgb(223, 26, 26);
    color: rgb(15, 15, 15);
.social-icon {
        margin: 50%;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid rgb(10, 10, 10);
        background-image: url("../assets/img/instagram.png");
        background-position: center;
        background-size: 40px;
        background-repeat: no-repeat;
        margin: 1rem;
}
    .social-icon-container,
.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon:hover {
    background-color: black;
    filter: invert(1);
}
.social-icon:nth-of-type(2) {
    background-image: url("../assets/img/facebook.png");
}

.social-icon:nth-of-type(3) {
    background-image: url("../assets/img/whatsapp.png");
}

.social-icon:nth-of-type(4) {
    background-image: url("../assets/img/discord.png");
}
.footer-menu-container {
    list-style: none;
    color: rgb(19, 18, 18);
    font-size: 14px;
    align-items: 1%;
}
.menu-item {
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover {
    opacity: 1;
}

.copyright {
    color: rgb(15, 15, 15);
    opacity: 0.3;
    text-align: center;
}
li{
    color: black;
}
}