.main1{
    grid-area: main1;
    height: 600px;
    width: 400px;
    padding: 30px;
    list-style: none;
    margin-top: 100px;
    margin: auto;
    font-size: 25px;
    display: grid;
    background-color: rgba(43, 42, 42, 0.562);
    border-radius: 50px;
 .logofooter{
    width: 50px;
    grid-area:logofooter;
}   
.h1inicio {
    font-family: 'Lobster', cursive;
}
}







