@import "../scss/footer";
@import "../scss/header";
@import "../scss/maincontacto";
@import "../scss/mainidex";
@import "../scss/mainnosostros";
@import "../scss/mainpagos";
@import "../scss/maintienda";
@import "../scss/mediaresponsive";

* {
    box-sizing: border-box;
    color: aliceblue;
    margin: 0;
   
    
    body {
        position: relative;
        height: 100%;
    background: url("../assets/img/14377-rojo-y-negro.jpg") 
    
}
}


